body{
    background-color: #f3e9d9;
    color: #352001;
    font-family: helvetica;
    font-size: 1em;
}
h1{
    border-left: 12px solid #efcb8f;
    padding-left: 12px;
}
button{
    padding: 15px 35px;
}

#caja{
    width: 200px;
    height: 120px;
    background-color: #ccc;
    margin-top: 20px;
}